body {
  background-color: #eaeaea;
}

.ui.fixed.menu {
  background-image: linear-gradient(
    135deg, 
    rgb(10, 20, 30) 0%, 
    rgb(40, 50, 60) 60%, 
    rgb(70, 80, 90) 89%
    );
}

.ui.main.container {
  margin-top: 7em;
}